# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read file

In [2]:
flights_master = pd.read_csv(r"../data/flights_2019.csv")
flights_master.head()

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,0,2019-11-14,AA,AA_CODESHARE,AA,4867,PT,N639AE,4867,14321,...,364.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-11-14,AA,AA_CODESHARE,AA,4868,PT,N609DP,4868,12945,...,281.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-11-14,AA,AA_CODESHARE,AA,4869,PT,N628AE,4869,12323,...,413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-11-14,AA,AA_CODESHARE,AA,4869,PT,N628AE,4869,14100,...,413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-11-14,AA,AA_CODESHARE,AA,4870,PT,N645AE,4870,13933,...,241.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
flights_master.shape

(7545488, 43)

# Sample size reduction

In [4]:
flights = flights_master.copy()

In [5]:
flights.loc[:,["fl_date","crs_arr_time","crs_dep_time"]] = flights[["fl_date","crs_arr_time","crs_dep_time"]].astype('string')

arr_time = pd.to_datetime(flights["fl_date"]+" "+ flights["crs_arr_time"].str.zfill(4).replace({'2400':'0000'}))
dep_time = pd.to_datetime(flights["fl_date"]+" "+ flights["crs_dep_time"].str.zfill(4).replace({'2400':'0000'}))

flights["arr_date_time"] = arr_time
flights["dep_date_time"] = dep_time

flights['arr_month'] = flights['arr_date_time'].dt.month

In [6]:
def reduce_size(data):
    return data.sample(frac=0.03,random_state=3245)
flights_sampled = flights.groupby(by=["op_unique_carrier","arr_month","dest_airport_id"]).apply(reduce_size).reset_index(drop=True)

In [7]:
flights_sampled.shape

(226950, 46)

In [8]:
flights_sampled = flights_sampled.drop(columns=["Unnamed: 0"])

In [9]:
flights_sampled.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,arr_date_time,dep_date_time,arr_month
0,2019-01-06,DL,DL_CODESHARE,DL,5443,9E,N691CA,5443,10397,ATL,...,20.0,0.0,0.0,NaN,NaN,NaN,NaN,2019-01-06 17:18:00,2019-01-06 15:12:00,1
1,2019-01-04,DL,DL_CODESHARE,DL,5013,9E,N8928A,5013,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-04 22:16:00,2019-01-04 21:24:00,1
2,2019-01-04,DL,DL_CODESHARE,DL,3368,9E,N8877A,3368,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-04 13:59:00,2019-01-04 13:10:00,1
3,2019-01-04,DL,DL_CODESHARE,DL,5478,9E,N8970D,5478,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-04 09:58:00,2019-01-04 09:02:00,1
4,2019-01-11,DL,DL_CODESHARE,DL,5031,9E,N840AY,5031,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-11 00:29:00,2019-01-11 23:30:00,1

In [10]:
flights_sampled.to_csv(r"../data/1_sampled data/3_percent.csv",index=False)