# Imports

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read file

In [129]:
flights_master = pd.read_csv(r"../data/flights_2019.csv")
flights_master.head()

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,0,2019-11-14,AA,AA_CODESHARE,AA,4867,PT,N639AE,4867,14321,...,364.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-11-14,AA,AA_CODESHARE,AA,4868,PT,N609DP,4868,12945,...,281.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-11-14,AA,AA_CODESHARE,AA,4869,PT,N628AE,4869,12323,...,413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-11-14,AA,AA_CODESHARE,AA,4869,PT,N628AE,4869,14100,...,413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-11-14,AA,AA_CODESHARE,AA,4870,PT,N645AE,4870,13933,...,241.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
flights_master.shape

(7545488, 43)

# Sample size reduction

In [131]:
flights = flights_master.copy()

In [132]:
flights.loc[:,["fl_date","crs_arr_time","crs_dep_time"]] = flights[["fl_date","crs_arr_time","crs_dep_time"]].astype('string')

arr_time = pd.to_datetime(flights["fl_date"]+" "+ flights["crs_arr_time"].str.zfill(4).replace({'2400':'0000'}))
dep_time = pd.to_datetime(flights["fl_date"]+" "+ flights["crs_dep_time"].str.zfill(4).replace({'2400':'0000'}))

flights["arr_date_time"] = arr_time
flights["dep_date_time"] = dep_time

flights['arr_month'] = flights['arr_date_time'].dt.month

In [133]:
def reduce_size(data):
    return data.sample(frac=0.1,random_state=1)
flights_sampled = flights.groupby(by=["op_unique_carrier","arr_month","dest_airport_id"]).apply(reduce_size).reset_index(drop=True)

In [134]:
flights_sampled.shape

(754138, 46)

In [135]:
flights_sampled = flights_sampled.drop(columns=["Unnamed: 0"])

In [136]:
flights_sampled.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,arr_date_time,dep_date_time,arr_month
0,2019-01-02,DL,DL_CODESHARE,DL,5303,9E,N606LR,5303,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-02 17:14:00,2019-01-02 15:13:00,1
1,2019-01-25,DL,DL_CODESHARE,DL,5443,9E,N905XJ,5443,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-25 17:18:00,2019-01-25 15:12:00,1
2,2019-01-03,DL,DL_CODESHARE,DL,5187,9E,N195PQ,5187,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-03 23:35:00,2019-01-03 21:30:00,1
3,2019-01-17,DL,DL_CODESHARE,DL,5443,9E,N310PQ,5443,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-17 17:18:00,2019-01-17 15:12:00,1
4,2019-01-29,DL,DL_CODESHARE,DL,5023,9E,N8928A,5023,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-29 14:45:00,2019-01-29 13:50:00,1

In [137]:
flights_sampled.to_csv(r"../data/sampled_data.csv",index=False)